*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.blog-posts{
    display: flex;
}

.blog-posts__post{
    margin: 2rem;
}

.blog-posts__post--img{
    width: 100%;
    height: 100%;
}